.container {
  display: grid;
  grid-template-rows: [head-start] 1fr [head-end box-start] 2fr [box-end main-start] 4fr [main-end foot-start] 1fr[foot-end];
  grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
  width: 400px;
  height: 400px;
  color: white;
  background: white;

  gap: 10px;
  & > .header {
    background: red;
    grid-column: col-start / col-end 4;
  }

  & > .small-box {
    @for $var from 1 to 4 {
      &-#{$var} {
        background: red;
      }
    }
  }

  & > .sidebar {
    background: red;
    // grid-area: box-start/main-end/(col-start 4) / (col-end 4);
    grid-row: box-start/main-end;
    grid-column: col-start 4 / col-end 4;
  }
  & > .main {
    background: red;
    grid-column: 1/4;
  }
  & > .footer {
    background: red;
    grid-column: 1/-1;
  }
}
