.container {
  display: grid;
  grid-template-rows: 1fr 2fr 4fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "head head head head"
    "box1 box2 box3 side"
    "main main main side"
    "foot foot foot foot";
  width: 400px;
  height: 400px;
  color: white;
  background: white;

  gap: 10px;
  & > .header {
    background: red;
    grid-area: head;
    // grid-column: col-start / col-end 4;
  }

  & > .small-box {
    @for $var from 1 to 4 {
      &-#{$var} {
        background: red;
        grid-area: box#{$var};
      }
    }
  }

  & > .sidebar {
    background: red;
    grid-area: side;
    // grid-area: box-start/main-end/(col-start 4) / (col-end 4);
    // grid-row: box-start/main-end;
    // grid-column: col-start 4 / col-end 4;
  }
  & > .main {
    background: red;
    grid-area: main;
    // grid-column: 1/4;
  }
  & > .footer {
    background: red;
    grid-area: foot;
    // grid-column: 1/-1;
  }
}
