@mixin icon($size, $fill) {
  fill: $fill;
  height: $size;
  width: $size;
}

.homes {
  grid-column: center-start/ center-end;

  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;

  &__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1;
  }

  &__like {
    grid-row: 1/2;
    grid-column: 2/3;
    @include icon(2.5rem, $color-primary);
    z-index: 2;
    justify-self: end;
    margin: 1rem;
  }

  &__name {
    font-family: $font-display;
    font-size: 1.4rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    width: 80%;
    grid-row: 1/2;
    grid-column: 1/-1;
    color: #fff;
    font-weight: 400;
    justify-self: center;
    align-self: end;
    transform: translateY(50%);
    z-index: 3;
  }

  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    display: flex;
    align-items: center;

    font-size: 1.5rem;
    margin-left: 2rem;

    svg {
      @include icon(2rem, $color-primary);
      margin-right: 1rem;
    }
  }

  &__btn {
    grid-column: 1 / -1;
    background-color: $color-primary;
  }
}
